<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
  <body>
      <div class="wrapper">
        <h1>Musilink</h1>
        <h2><span>Please provide either link or keyword of the music you would like to find.</span></h2>
        <p>(e.g. https://www.deezer.com/us/track/788062 or Pop)</p>

        <div class="row">
          <form action="/search" method="get">
            <div class="col">
                <div class="search_box">
                    <input name="search_query" type="text" class="form-control" placeholder="Search Albums, Genres, Artists, or Tracks" required>
                </div>
            </div>

            <div class="col">
                <div class="search_button">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
          </form>

            <%- include ('../partials/message') %>
    
              <% if (locals.error == false) { const MAX_ITEMS = items.length > 20 ? 20 : items.length; %>
          
                <table class="table">
                  <th scope="row"></th>
                  <th scope="col">Title</th>
                  <th scope="col">Artist</th>
                  <th scope="col">Album</th>
                  <th scope="col">Preview</th>
                  <th scope="col">Link</th>
                  <th scope="col"></th>
                <% for (let i = 0; i < MAX_ITEMS; i++) { %>
                <form action="/playlist/add" method="post">
                  <tr>
                    <th><%- i + 1 %></th>
                    <td><%- items[i].song_name %></td>
                    <td><%- items[i].song_artist %></td>
                    <td><%- items[i].song_album %></td>
                    <td><audio controls><source src="<%- items[i].song_preview %>"></audio></td>
                    <td><a href="<%- items[i].song_link %>" target="_blank">Song Link</a></td>
                    <% if (in_playlist[i] == false) { %>
                    <td><button type="submit" class="btn btn-outline-success">ADD</button></td>
                    <% } else { %>
                    <td><button type="submit" class="btn btn-outline-success" disabled>ADD</button></td>
                    <% } %>
                  </tr>
                  <input type="hidden" name="index" value="<%- i %>">
                  <input type="hidden" name="results" value="<%= JSON.stringify(items) %>">
                  <input type="hidden" name="in_playlist" value="<%= JSON.stringify(in_playlist) %>">
                </form>
                <% } %>
              </table>
            <% } %>

          <form action="/MUSALINK" method="get">
            <div class="col">
              <div class="link-search">
                  <input name="musalink_query" type="text" class="form-control" 
                  placeholder="Enter a track link on Deezer, Spotify, YouTube Music, Soundcloud, or Apple Music"
                  pattern="(https:\/\/music\.youtube\.com\/.+)|(https:\/\/music\.apple\.com\/.+)|(https:\/\/soundcloud.com\/.+)|(https:\/\/open\.spotify\.com\/track\/.+)|(https:\/\/www\.deezer\.com\/us\/track\/.+)"
                title="Example URLs:
                1. https://open.spotify.com/track/track_id
                2. https://music.apple.com
                3. https://music.youtube.com
                4. https://soundcloud.com
                5. https://deezer.com" required>
              </div>
            </div>

            <div class="col">
                <div class="link-search-button">
                    <button type="submit" class="btn btn-primary">MUSALINK</button>
                </div>
            </div>
          </form>

            <% if (locals.message_1) { %>
              <div
                class="alert alert-<%- locals.error_1 ? 'danger' : 'success' %>"
                role="alert">
                <%= message_1 %>
              </div>
              <% } %>

            <% if (locals.error_1 == false) { %>
              <table class="table">
                <th>Track</th>
                <th>Album</th>
                <th>Artist</th>
                <th>Platform</th>
                <th>Link</th>
            
                <% if (spotify_link !== undefined) { %>
                <tr>
                  <td><%- track_name %></td>
                  <td><%- album_name %></td>
                  <td><%- artist_name %></td>
                  <td>Spotify</td>
                  <td><a href="<%- spotify_link %>" target="_blank">Link</a></td>
                </tr>
            <% } %>
      
            <% if (youtube_music_link !== undefined) { %>
              <tr>
                <td><%- track_name %></td>
                <td><%- album_name %></td>
                <td><%- artist_name %></td>
                <td>Youtube Music</td>
                <td><a href="<%- youtube_music_link %>" target="_blank">Link</a></td>
              </tr>
            <% } %>
      
            <% if (apple_music_link !== undefined) { %>
              <tr>
                <td><%- track_name %></td>
                <td><%- album_name %></td>
                <td><%- artist_name %></td>
                <td>Apple Music</td>
                <td><a href="<%- apple_music_link %>" target="_blank">Link</a></td>
              </tr>
              <% } %>
    
            <% if (soundcloud_link !== undefined) { %>
              <tr>
                <td><%- track_name %></td>
                <td><%- album_name %></td>
                <td><%- artist_name %></td>
                <td>Soundcloud</td>
                <td><a href="<%- soundcloud_link %>" target="_blank">Link</a></td>
              </tr>
              <% } %>

              <% if (deezer_link !== undefined) { %>
                <tr>
                  <td><%- track_name %></td>
                  <td><%- album_name %></td>
                  <td><%- artist_name %></td>
                  <td>Deezer</td>
                  <td><a href="<%- deezer_link %>" target="_blank">Link</a></td>
                </tr>
                <% } %>  

            </table>
            <% } %>
        </div>
      </div>
    </div>

    <div class="objects">
        <ul class="box">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
  </body>
</main>
<%- include ('../partials/footer') %>