<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<body style="margin-top: 100px;">
    <div class="container" height="100%">
      <!-- THE REST OF YOUR HTML CODE GOES HERE -->
      
      <h1><centre>Welcome to Musalink!</centre></h1>
  
      <form action="/search" method="get" class="row mb-3">
        <div class="col-sm-15">
          <input name="search_query" type="text" class="form-control" placeholder="Search Albums, Genres, Artists, or Tracks" required>
        </div>
      
        <div class="col-sm-5">
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </form>
  
      <%- include ('../partials/message') %>
  
      <% if (locals.error == false) { const MAX_ITEMS = items.length > 20 ? 20 : items.length; %>
  
        <table class="table">
          <th scope="row"></th>
          <th scope="col">Title</th>
          <th scope="col">Artist</th>
          <th scope="col">Album</th>
          <th scope="col">Preview</th>
          <th scope="col">Link</th>
          <th scope="col"></th>
        <% for (let i = 0; i < MAX_ITEMS; i++) { %>
        <form action="/playlist" method="get">
          <tr>
            <th><%- i + 1 %></th>
            <td><%- items[i].title %></td>
            <td><%- items[i].artist.name %></td>
            <td><%- items[i].album.title %></td>
            <td><audio controls><source src="<%- items[i].preview %>"></audio></td>
            <td><a href="<%- items[i].link %>" target="_blank">Song Link</a></td>
            <td><button type="submit" class="btn btn-outline-success">ADD</button></td>
          </tr>
          <input type="hidden" name="search_song_title" value="<%- items[i].title %>">
          <input type="hidden" name="search_artist_name" value="<%- items[i].artist.name %>">
          <input type="hidden" name="search_album_name" value="<%- items[i].album.title %>">
          <input type="hidden" name="search_song_preview" value="<%- items[i].preview %>">
          <input type="hidden" name="search_song_link" value="<%- items[i].link %>">
        </form>
          <% } %>
        </table>
      <% } %>
    </div>
  
    <form action="/MUSALINK" method="get" class="row mb-3">
      <div class="col-sm-5">
        <input name="musalink_query" type="text" class="form-control" 
        placeholder="Enter a track link on Spotify, Youtube, Soundcloud, or Apple Music"
        pattern="(https:\/\/music\.youtube\.com\/.+)|(https:\/\/music\.apple\.com\/.+)|(https:\/\/soundcloud.com\/.+)|(https:\/\/open\.spotify\.com\/track\/.+)"
      title="Example URLs:
      1. https://open.spotify.com/track/track_id
      2. https://music.apple.com
      3. https://music.youtube.com
      4. https://soundcloud.com" required>
      </div>
    
      <div class="col-sm-5">
        <button type="submit" class="btn btn-primary">MUSALINK</button>
      </div>
    </form>
  
    <% if (locals.message_1) { %>
      <div
        class="alert alert-<%- locals.error_1 ? 'danger' : 'success' %>"
        role="alert">
        <%= message_1 %>
      </div>
      <% } %>
  
    <% if (locals.error_1 == false) { %>
    <table class="table">
      <th>Track</th>
      <th>Album</th>
      <th>Artist</th>
      <th>Platform</th>
      <th>Link</th>
  
      <% if (spotify_link !== undefined) { %>
      <tr>
        <td><%- track_name %></td>
        <td><%- album_name %></td>
        <td><%- artist_name %></td>
        <td>Spotify</td>
        <td><a href="<%- spotify_link %>" target="_blank">Link</a></td>
      </tr>
      <% } %>
  
      <% if (youtube_music_link !== undefined) { %>
        <tr>
          <td><%- track_name %></td>
          <td><%- album_name %></td>
          <td><%- artist_name %></td>
          <td>Youtube Music</td>
          <td><a href="<%- youtube_music_link %>" target="_blank">Link</a></td>
        </tr>
        <% } %>
  
        <% if (apple_music_link !== undefined) { %>
          <tr>
            <td><%- track_name %></td>
            <td><%- album_name %></td>
            <td><%- artist_name %></td>
            <td>Apple Music</td>
            <td><a href="<%- apple_music_link %>" target="_blank">Link</a></td>
          </tr>
          <% } %>

        <% if (soundcloud_link !== undefined) { %>
          <tr>
            <td><%- track_name %></td>
            <td><%- album_name %></td>
            <td><%- artist_name %></td>
            <td>Soundcloud</td>
            <td><a href="<%- soundcloud_link %>" target="_blank">Link</a></td>
          </tr>
          <% } %>
  
    </table>
    <% } %>
  
  </body>
  <%- include ('../partials/footer') %>